/*-------------------------------------    
CSS INDEX
===================================
#. Slider
#. Section Title
#. Info Box
#. Directory Location Box
#. Elementor Testimonail
#. Elementor Search
#. Call to Action
#. Elementor Counter
#. Elementor More Button
#. Elementor Edit Mode
---------------------------------------*/
.color-primary {
  color: #ef3072;
}

.bg-primary {
  background: #ef3072;
}

.iborder-primary {
  color: #ef3072;
}

.outline-primary {
  border: 1px solid #ef3072;
  color: #ef3072;
}

.active-color-primary label input:checked + span {
  background: #ef3072;
  border-color: #ef3072;
}

.bg-opacity-15-primary {
  background: rgba(239, 48, 114, 0.15);
}

.circle-primary {
  color: #ef3072;
  background: rgba(239, 48, 114, 0.1);
}

.border-primary {
  border: 1px solid #ef3072;
}

.color-secondary {
  color: #23c8b9;
}

.bg-secondary {
  background: #23c8b9;
}

.iborder-secondary {
  color: #23c8b9;
}

.outline-secondary {
  border: 1px solid #23c8b9;
  color: #23c8b9;
}

.active-color-secondary label input:checked + span {
  background: #23c8b9;
  border-color: #23c8b9;
}

.bg-opacity-15-secondary {
  background: rgba(35, 200, 185, 0.15);
}

.circle-secondary {
  color: #23c8b9;
  background: rgba(35, 200, 185, 0.1);
}

.border-secondary {
  border: 1px solid #23c8b9;
}

.color-success {
  color: #53ca2e;
}

.bg-success {
  background: #53ca2e;
}

.iborder-success {
  color: #53ca2e;
}

.outline-success {
  border: 1px solid #53ca2e;
  color: #53ca2e;
}

.active-color-success label input:checked + span {
  background: #53ca2e;
  border-color: #53ca2e;
}

.bg-opacity-15-success {
  background: rgba(83, 202, 46, 0.15);
}

.circle-success {
  color: #53ca2e;
  background: rgba(83, 202, 46, 0.1);
}

.border-success {
  border: 1px solid #53ca2e;
}

.color-info {
  color: #2c99ff;
}

.bg-info {
  background: #2c99ff;
}

.iborder-info {
  color: #2c99ff;
}

.outline-info {
  border: 1px solid #2c99ff;
  color: #2c99ff;
}

.active-color-info label input:checked + span {
  background: #2c99ff;
  border-color: #2c99ff;
}

.bg-opacity-15-info {
  background: rgba(44, 153, 255, 0.15);
}

.circle-info {
  color: #2c99ff;
  background: rgba(44, 153, 255, 0.1);
}

.border-info {
  border: 1px solid #2c99ff;
}

.color-warning {
  color: #fa8b0c;
}

.bg-warning {
  background: #fa8b0c;
}

.iborder-warning {
  color: #fa8b0c;
}

.outline-warning {
  border: 1px solid #fa8b0c;
  color: #fa8b0c;
}

.active-color-warning label input:checked + span {
  background: #fa8b0c;
  border-color: #fa8b0c;
}

.bg-opacity-15-warning {
  background: rgba(250, 139, 12, 0.15);
}

.circle-warning {
  color: #fa8b0c;
  background: rgba(250, 139, 12, 0.1);
}

.border-warning {
  border: 1px solid #fa8b0c;
}

.color-danger {
  color: #f51957;
}

.bg-danger {
  background: #f51957;
}

.iborder-danger {
  color: #f51957;
}

.outline-danger {
  border: 1px solid #f51957;
  color: #f51957;
}

.active-color-danger label input:checked + span {
  background: #f51957;
  border-color: #f51957;
}

.bg-opacity-15-danger {
  background: rgba(245, 25, 87, 0.15);
}

.circle-danger {
  color: #f51957;
  background: rgba(245, 25, 87, 0.1);
}

.border-danger {
  border: 1px solid #f51957;
}

.color-dark {
  color: #272b41;
}

.bg-dark {
  background: #272b41;
}

.iborder-dark {
  color: #272b41;
}

.outline-dark {
  border: 1px solid #272b41;
  color: #272b41;
}

.active-color-dark label input:checked + span {
  background: #272b41;
  border-color: #272b41;
}

.bg-opacity-15-dark {
  background: rgba(39, 43, 65, 0.15);
}

.circle-dark {
  color: #272b41;
  background: rgba(39, 43, 65, 0.1);
}

.border-dark {
  border: 1px solid #272b41;
}

.color-light {
  color: #f5f7fc;
}

.bg-light {
  background: #f5f7fc;
}

.iborder-light {
  color: #f5f7fc;
}

.outline-light {
  border: 1px solid #f5f7fc;
  color: #f5f7fc;
}

.active-color-light label input:checked + span {
  background: #f5f7fc;
  border-color: #f5f7fc;
}

.bg-opacity-15-light {
  background: rgba(245, 247, 252, 0.15);
}

.circle-light {
  color: #f5f7fc;
  background: rgba(245, 247, 252, 0.1);
}

.border-light {
  border: 1px solid #f5f7fc;
}

.color-lightGray {
  color: #9299b8;
}

.bg-lightGray {
  background: #9299b8;
}

.iborder-lightGray {
  color: #9299b8;
}

.outline-lightGray {
  border: 1px solid #9299b8;
  color: #9299b8;
}

.active-color-lightGray label input:checked + span {
  background: #9299b8;
  border-color: #9299b8;
}

.bg-opacity-15-lightGray {
  background: rgba(146, 153, 184, 0.15);
}

.circle-lightGray {
  color: #9299b8;
  background: rgba(146, 153, 184, 0.1);
}

.border-lightGray {
  border: 1px solid #9299b8;
}

.theme-color-primary {
  color: #ef3072;
}

.theme-bg-primary {
  background: #ef3072;
  color: var(--color-white) !important;
}

.theme-bg-primary:hover {
  background: rgba(239, 48, 114, 0.85);
}

.theme-border-primary {
  border: 1px solid #ef3072;
}

.theme-color-secondary {
  color: #23c8b9;
}

.theme-bg-secondary {
  background: #23c8b9;
  color: var(--color-white) !important;
}

.theme-bg-secondary:hover {
  background: rgba(35, 200, 185, 0.85);
}

.theme-border-secondary {
  border: 1px solid #23c8b9;
}

.theme-color-success {
  color: #53ca2e;
}

.theme-bg-success {
  background: #53ca2e;
  color: var(--color-white) !important;
}

.theme-bg-success:hover {
  background: rgba(83, 202, 46, 0.85);
}

.theme-border-success {
  border: 1px solid #53ca2e;
}

.theme-color-info {
  color: #2c99ff;
}

.theme-bg-info {
  background: #2c99ff;
  color: var(--color-white) !important;
}

.theme-bg-info:hover {
  background: rgba(44, 153, 255, 0.85);
}

.theme-border-info {
  border: 1px solid #2c99ff;
}

.theme-color-warning {
  color: #fa8b0c;
}

.theme-bg-warning {
  background: #fa8b0c;
  color: var(--color-white) !important;
}

.theme-bg-warning:hover {
  background: rgba(250, 139, 12, 0.85);
}

.theme-border-warning {
  border: 1px solid #fa8b0c;
}

.theme-color-danger {
  color: #f51957;
}

.theme-bg-danger {
  background: #f51957;
  color: var(--color-white) !important;
}

.theme-bg-danger:hover {
  background: rgba(245, 25, 87, 0.85);
}

.theme-border-danger {
  border: 1px solid #f51957;
}

.theme-color-dark {
  color: #272b41;
}

.theme-bg-dark {
  background: #272b41;
  color: var(--color-white) !important;
}

.theme-bg-dark:hover {
  background: rgba(39, 43, 65, 0.85);
}

.theme-border-dark {
  border: 1px solid #272b41;
}

.theme-color-light {
  color: #f5f7fc;
}

.theme-bg-light {
  background: #f5f7fc;
  color: var(--color-white) !important;
}

.theme-bg-light:hover {
  background: rgba(245, 247, 252, 0.85);
}

.theme-border-light {
  border: 1px solid #f5f7fc;
}

.theme-color-lightGray {
  color: #9299b8;
}

.theme-bg-lightGray {
  background: #9299b8;
  color: var(--color-white) !important;
}

.theme-bg-lightGray:hover {
  background: rgba(146, 153, 184, 0.85);
}

.theme-border-lightGray {
  border: 1px solid #9299b8;
}

.color-facebook {
  color: #3b5998;
}

.color-twitter {
  color: #55acee;
}

.color-pinterest {
  color: #bd081c;
}

.color-gplus {
  color: #dc4e41;
}

.color-linkedin {
  color: #0077b5;
}

.color-tumblr {
  color: #35465c;
}

.color-vk {
  color: #4A76A8;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  99% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

/* BEM Element and Modifier */
.m-top-0 {
  margin-top: 0px;
}

.m-top-5 {
  margin-top: 5px;
}

.m-top-10 {
  margin-top: 10px;
}

.m-top-15 {
  margin-top: 15px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-25 {
  margin-top: 25px;
}

.m-top-30 {
  margin-top: 30px;
}

.m-top-35 {
  margin-top: 35px;
}

.m-top-40 {
  margin-top: 40px;
}

.m-top-45 {
  margin-top: 45px;
}

.m-top-50 {
  margin-top: 50px;
}

.m-top-55 {
  margin-top: 55px;
}

.m-top-60 {
  margin-top: 60px;
}

.m-top-65 {
  margin-top: 65px;
}

.m-top-70 {
  margin-top: 70px;
}

.m-top-75 {
  margin-top: 75px;
}

.m-top-80 {
  margin-top: 80px;
}

.m-top-85 {
  margin-top: 85px;
}

.m-top-90 {
  margin-top: 90px;
}

.m-top-95 {
  margin-top: 95px;
}

.m-top-100 {
  margin-top: 100px;
}

.m-top-105 {
  margin-top: 105px;
}

.m-top-110 {
  margin-top: 110px;
}

.m-top-115 {
  margin-top: 115px;
}

.m-top-120 {
  margin-top: 120px;
}

.m-top-125 {
  margin-top: 125px;
}

.m-top-130 {
  margin-top: 130px;
}

.m-top-135 {
  margin-top: 135px;
}

.m-top-140 {
  margin-top: 140px;
}

.m-top-145 {
  margin-top: 145px;
}

.m-top-150 {
  margin-top: 150px;
}

.m-right-0 {
  margin-left: 0px;
}

.m-right-5 {
  margin-left: 5px;
}

.m-right-10 {
  margin-left: 10px;
}

.m-right-15 {
  margin-left: 15px;
}

.m-right-20 {
  margin-left: 20px;
}

.m-right-25 {
  margin-left: 25px;
}

.m-right-30 {
  margin-left: 30px;
}

.m-right-35 {
  margin-left: 35px;
}

.m-right-40 {
  margin-left: 40px;
}

.m-right-45 {
  margin-left: 45px;
}

.m-right-50 {
  margin-left: 50px;
}

.m-right-55 {
  margin-left: 55px;
}

.m-right-60 {
  margin-left: 60px;
}

.m-right-65 {
  margin-left: 65px;
}

.m-right-70 {
  margin-left: 70px;
}

.m-right-75 {
  margin-left: 75px;
}

.m-right-80 {
  margin-left: 80px;
}

.m-right-85 {
  margin-left: 85px;
}

.m-right-90 {
  margin-left: 90px;
}

.m-right-95 {
  margin-left: 95px;
}

.m-right-100 {
  margin-left: 100px;
}

.m-right-105 {
  margin-left: 105px;
}

.m-right-110 {
  margin-left: 110px;
}

.m-right-115 {
  margin-left: 115px;
}

.m-right-120 {
  margin-left: 120px;
}

.m-right-125 {
  margin-left: 125px;
}

.m-right-130 {
  margin-left: 130px;
}

.m-right-135 {
  margin-left: 135px;
}

.m-right-140 {
  margin-left: 140px;
}

.m-right-145 {
  margin-left: 145px;
}

.m-right-150 {
  margin-left: 150px;
}

.m-bottom-0 {
  margin-bottom: 0px;
}

.m-bottom-5 {
  margin-bottom: 5px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

.m-bottom-15 {
  margin-bottom: 15px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.m-bottom-25 {
  margin-bottom: 25px;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

.m-bottom-35 {
  margin-bottom: 35px;
}

.m-bottom-40 {
  margin-bottom: 40px;
}

.m-bottom-45 {
  margin-bottom: 45px;
}

.m-bottom-50 {
  margin-bottom: 50px;
}

.m-bottom-55 {
  margin-bottom: 55px;
}

.m-bottom-60 {
  margin-bottom: 60px;
}

.m-bottom-65 {
  margin-bottom: 65px;
}

.m-bottom-70 {
  margin-bottom: 70px;
}

.m-bottom-75 {
  margin-bottom: 75px;
}

.m-bottom-80 {
  margin-bottom: 80px;
}

.m-bottom-85 {
  margin-bottom: 85px;
}

.m-bottom-90 {
  margin-bottom: 90px;
}

.m-bottom-95 {
  margin-bottom: 95px;
}

.m-bottom-100 {
  margin-bottom: 100px;
}

.m-bottom-105 {
  margin-bottom: 105px;
}

.m-bottom-110 {
  margin-bottom: 110px;
}

.m-bottom-115 {
  margin-bottom: 115px;
}

.m-bottom-120 {
  margin-bottom: 120px;
}

.m-bottom-125 {
  margin-bottom: 125px;
}

.m-bottom-130 {
  margin-bottom: 130px;
}

.m-bottom-135 {
  margin-bottom: 135px;
}

.m-bottom-140 {
  margin-bottom: 140px;
}

.m-bottom-145 {
  margin-bottom: 145px;
}

.m-bottom-150 {
  margin-bottom: 150px;
}

.m-left-0 {
  margin-right: 0px;
}

.m-left-5 {
  margin-right: 5px;
}

.m-left-10 {
  margin-right: 10px;
}

.m-left-15 {
  margin-right: 15px;
}

.m-left-20 {
  margin-right: 20px;
}

.m-left-25 {
  margin-right: 25px;
}

.m-left-30 {
  margin-right: 30px;
}

.m-left-35 {
  margin-right: 35px;
}

.m-left-40 {
  margin-right: 40px;
}

.m-left-45 {
  margin-right: 45px;
}

.m-left-50 {
  margin-right: 50px;
}

.m-left-55 {
  margin-right: 55px;
}

.m-left-60 {
  margin-right: 60px;
}

.m-left-65 {
  margin-right: 65px;
}

.m-left-70 {
  margin-right: 70px;
}

.m-left-75 {
  margin-right: 75px;
}

.m-left-80 {
  margin-right: 80px;
}

.m-left-85 {
  margin-right: 85px;
}

.m-left-90 {
  margin-right: 90px;
}

.m-left-95 {
  margin-right: 95px;
}

.m-left-100 {
  margin-right: 100px;
}

.m-left-105 {
  margin-right: 105px;
}

.m-left-110 {
  margin-right: 110px;
}

.m-left-115 {
  margin-right: 115px;
}

.m-left-120 {
  margin-right: 120px;
}

.m-left-125 {
  margin-right: 125px;
}

.m-left-130 {
  margin-right: 130px;
}

.m-left-135 {
  margin-right: 135px;
}

.m-left-140 {
  margin-right: 140px;
}

.m-left-145 {
  margin-right: 145px;
}

.m-left-150 {
  margin-right: 150px;
}

.p-left-0 {
  padding-right: 0px;
}

.p-left-5 {
  padding-right: 5px;
}

.p-left-10 {
  padding-right: 10px;
}

.p-left-15 {
  padding-right: 15px;
}

.p-left-20 {
  padding-right: 20px;
}

.p-left-25 {
  padding-right: 25px;
}

.p-left-30 {
  padding-right: 30px;
}

.p-left-35 {
  padding-right: 35px;
}

.p-left-40 {
  padding-right: 40px;
}

.p-left-45 {
  padding-right: 45px;
}

.p-left-50 {
  padding-right: 50px;
}

.p-left-55 {
  padding-right: 55px;
}

.p-left-60 {
  padding-right: 60px;
}

.p-left-65 {
  padding-right: 65px;
}

.p-left-70 {
  padding-right: 70px;
}

.p-left-75 {
  padding-right: 75px;
}

.p-left-80 {
  padding-right: 80px;
}

.p-left-85 {
  padding-right: 85px;
}

.p-left-90 {
  padding-right: 90px;
}

.p-left-95 {
  padding-right: 95px;
}

.p-left-100 {
  padding-right: 100px;
}

.p-left-105 {
  padding-right: 105px;
}

.p-left-110 {
  padding-right: 110px;
}

.p-left-115 {
  padding-right: 115px;
}

.p-left-120 {
  padding-right: 120px;
}

.p-left-125 {
  padding-right: 125px;
}

.p-left-130 {
  padding-right: 130px;
}

.p-left-135 {
  padding-right: 135px;
}

.p-left-140 {
  padding-right: 140px;
}

.p-left-145 {
  padding-right: 145px;
}

.p-left-150 {
  padding-right: 150px;
}

.p-right-0 {
  padding-left: 0px;
}

.p-right-5 {
  padding-left: 5px;
}

.p-right-10 {
  padding-left: 10px;
}

.p-right-15 {
  padding-left: 15px;
}

.p-right-20 {
  padding-left: 20px;
}

.p-right-25 {
  padding-left: 25px;
}

.p-right-30 {
  padding-left: 30px;
}

.p-right-35 {
  padding-left: 35px;
}

.p-right-40 {
  padding-left: 40px;
}

.p-right-45 {
  padding-left: 45px;
}

.p-right-50 {
  padding-left: 50px;
}

.p-right-55 {
  padding-left: 55px;
}

.p-right-60 {
  padding-left: 60px;
}

.p-right-65 {
  padding-left: 65px;
}

.p-right-70 {
  padding-left: 70px;
}

.p-right-75 {
  padding-left: 75px;
}

.p-right-80 {
  padding-left: 80px;
}

.p-right-85 {
  padding-left: 85px;
}

.p-right-90 {
  padding-left: 90px;
}

.p-right-95 {
  padding-left: 95px;
}

.p-right-100 {
  padding-left: 100px;
}

.p-right-105 {
  padding-left: 105px;
}

.p-right-110 {
  padding-left: 110px;
}

.p-right-115 {
  padding-left: 115px;
}

.p-right-120 {
  padding-left: 120px;
}

.p-right-125 {
  padding-left: 125px;
}

.p-right-130 {
  padding-left: 130px;
}

.p-right-135 {
  padding-left: 135px;
}

.p-right-140 {
  padding-left: 140px;
}

.p-right-145 {
  padding-left: 145px;
}

.p-right-150 {
  padding-left: 150px;
}

.p-top-0 {
  padding-top: 0px;
}

.p-top-5 {
  padding-top: 5px;
}

.p-top-10 {
  padding-top: 10px;
}

.p-top-15 {
  padding-top: 15px;
}

.p-top-20 {
  padding-top: 20px;
}

.p-top-25 {
  padding-top: 25px;
}

.p-top-30 {
  padding-top: 30px;
}

.p-top-35 {
  padding-top: 35px;
}

.p-top-40 {
  padding-top: 40px;
}

.p-top-45 {
  padding-top: 45px;
}

.p-top-50 {
  padding-top: 50px;
}

.p-top-55 {
  padding-top: 55px;
}

.p-top-60 {
  padding-top: 60px;
}

.p-top-65 {
  padding-top: 65px;
}

.p-top-70 {
  padding-top: 70px;
}

.p-top-75 {
  padding-top: 75px;
}

.p-top-80 {
  padding-top: 80px;
}

.p-top-85 {
  padding-top: 85px;
}

.p-top-90 {
  padding-top: 90px;
}

.p-top-95 {
  padding-top: 95px;
}

.p-top-100 {
  padding-top: 100px;
}

.p-top-105 {
  padding-top: 105px;
}

.p-top-110 {
  padding-top: 110px;
}

.p-top-115 {
  padding-top: 115px;
}

.p-top-120 {
  padding-top: 120px;
}

.p-top-125 {
  padding-top: 125px;
}

.p-top-130 {
  padding-top: 130px;
}

.p-top-135 {
  padding-top: 135px;
}

.p-top-140 {
  padding-top: 140px;
}

.p-top-145 {
  padding-top: 145px;
}

.p-top-150 {
  padding-top: 150px;
}

.p-bottom-0 {
  padding-bottom: 0px;
}

.p-bottom-5 {
  padding-bottom: 5px;
}

.p-bottom-10 {
  padding-bottom: 10px;
}

.p-bottom-15 {
  padding-bottom: 15px;
}

.p-bottom-20 {
  padding-bottom: 20px;
}

.p-bottom-25 {
  padding-bottom: 25px;
}

.p-bottom-30 {
  padding-bottom: 30px;
}

.p-bottom-35 {
  padding-bottom: 35px;
}

.p-bottom-40 {
  padding-bottom: 40px;
}

.p-bottom-45 {
  padding-bottom: 45px;
}

.p-bottom-50 {
  padding-bottom: 50px;
}

.p-bottom-55 {
  padding-bottom: 55px;
}

.p-bottom-60 {
  padding-bottom: 60px;
}

.p-bottom-65 {
  padding-bottom: 65px;
}

.p-bottom-70 {
  padding-bottom: 70px;
}

.p-bottom-75 {
  padding-bottom: 75px;
}

.p-bottom-80 {
  padding-bottom: 80px;
}

.p-bottom-85 {
  padding-bottom: 85px;
}

.p-bottom-90 {
  padding-bottom: 90px;
}

.p-bottom-95 {
  padding-bottom: 95px;
}

.p-bottom-100 {
  padding-bottom: 100px;
}

.p-bottom-105 {
  padding-bottom: 105px;
}

.p-bottom-110 {
  padding-bottom: 110px;
}

.p-bottom-115 {
  padding-bottom: 115px;
}

.p-bottom-120 {
  padding-bottom: 120px;
}

.p-bottom-125 {
  padding-bottom: 125px;
}

.p-bottom-130 {
  padding-bottom: 130px;
}

.p-bottom-135 {
  padding-bottom: 135px;
}

.p-bottom-140 {
  padding-bottom: 140px;
}

.p-bottom-145 {
  padding-bottom: 145px;
}

.p-bottom-150 {
  padding-bottom: 150px;
}

.h-5 {
  height: 5px;
}

.h-10 {
  height: 10px;
}

.h-15 {
  height: 15px;
}

.h-20 {
  height: 20px;
}

.h-25 {
  height: 25px;
}

.h-30 {
  height: 30px;
}

.h-35 {
  height: 35px;
}

.h-40 {
  height: 40px;
}

.h-45 {
  height: 45px;
}

.h-50 {
  height: 50px;
}

.h-55 {
  height: 55px;
}

.h-60 {
  height: 60px;
}

.h-65 {
  height: 65px;
}

.h-70 {
  height: 70px;
}

.h-75 {
  height: 75px;
}

.h-80 {
  height: 80px;
}

.h-85 {
  height: 85px;
}

.h-90 {
  height: 90px;
}

.h-95 {
  height: 95px;
}

.h-100 {
  height: 100px;
}

.h-105 {
  height: 105px;
}

.h-110 {
  height: 110px;
}

.h-115 {
  height: 115px;
}

.h-120 {
  height: 120px;
}

.h-125 {
  height: 125px;
}

.h-130 {
  height: 130px;
}

.h-135 {
  height: 135px;
}

.h-140 {
  height: 140px;
}

.h-145 {
  height: 145px;
}

.h-150 {
  height: 150px;
}

.icon-10x10 {
  width: 10px;
  height: 10px;
}

.icon-20x20 {
  width: 20px;
  height: 20px;
}

.icon-30x30 {
  width: 30px;
  height: 30px;
}

.icon-40x40 {
  width: 40px;
  height: 40px;
}

.icon-50x50 {
  width: 50px;
  height: 50px;
}

.icon-60x60 {
  width: 60px;
  height: 60px;
}

.icon-70x70 {
  width: 70px;
  height: 70px;
}

.icon-80x80 {
  width: 80px;
  height: 80px;
}

.icon-90x90 {
  width: 90px;
  height: 90px;
}

.icon-100x100 {
  width: 100px;
  height: 100px;
}

.display-1 {
  font-size: calc(1.225rem + 2.7vw);
  font-weight: 700;
}

@media (min-width: 1200px) {
  .display-1 {
    font-size: 3.25rem;
  }
}

.display-2 {
  font-size: calc(1.1625rem + 1.95vw);
  font-weight: 600;
}

@media (min-width: 1200px) {
  .display-2 {
    font-size: 2.625rem;
  }
}

.display-3 {
  font-size: calc(1.125rem + 1.5vw);
  font-weight: 600;
}

@media (min-width: 1200px) {
  .display-3 {
    font-size: 2.25rem;
  }
}

/*-------------------------------------
#. Section Title
---------------------------------------*/
.theme-section-title .theme-section-title__title {
  font-size: calc(1.0875rem + 1.05vw);
  font-weight: 700;
  margin-bottom: 0;
  color: var(--color-dark);
}

@media (min-width: 1200px) {
  .theme-section-title .theme-section-title__title {
    font-size: 1.875rem;
  }
}

/*-------------------------------------
#. Info Box
---------------------------------------*/
.az-el-info-box .azin-icon i {
  font-size: calc(1.0875rem + 1.05vw);
}

@media (min-width: 1200px) {
  .az-el-info-box .azin-icon i {
    font-size: 1.875rem;
  }
}

.az-el-info-box .azin-icon img,
.az-el-info-box .azin-icon svg {
  width: 30px;
  height: 30px;
}

/*-------------------------------------
#. Directory Location Box
---------------------------------------*/
.az-el-dir-location-box {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.az-el-dir-location-box > a {
  display: block;
}

.az-el-dir-location-box .azin-img {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
}

.az-el-dir-location-box .azin-img:after {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.az-el-dir-location-box .azin-content {
  color: var(--color-white);
  text-align: center;
  background-color: fade(#000, 60%);
  position: absolute;
  bottom: 25px;
  right: 0;
  width: 100%;
  z-index: 2;
}

.az-el-dir-location-box .azin-content .azin-title {
  font-size: calc(1.025rem + 0.3vw);
  line-height: 1.3;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 5px;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .az-el-dir-location-box .azin-content .azin-title {
    font-size: 1.25rem;
  }
}

/*-------------------------------------
#. Elementor Testimonial
---------------------------------------*/
.theme-testimonial-slider {
  position: relative;
  max-width: 925px;
  margin: 0 auto;
  text-align: center;
}

.theme-testimonial-slider .tns-controls button {
  position: absolute;
  right: 0px;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0 none;
  -webkit-box-shadow: 0 5px 8px rgba(143, 142, 159, 0.1);
          box-shadow: 0 5px 8px rgba(143, 142, 159, 0.1);
  z-index: 22;
  background-color: var(--color-white);
  color: var(--color-dark);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.theme-testimonial-slider .tns-controls button[data-controls="next"] {
  right: auto;
  left: 0;
}

.theme-testimonial-slider .tns-controls button:hover {
  background-color: var(--color-primary);
  color: white;
}

.theme-testimonial-slider .tns-nav {
  margin: 0 -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theme-testimonial-slider .tns-nav > [aria-controls] {
  display: inline-block;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 0 none;
  margin: 0 5px;
  background-color: rgba(255, 56, 92, 0.3);
  border: 2px solid transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.theme-testimonial-slider .tns-nav > [aria-controls].tns-nav-active {
  width: 8px;
  height: 8px;
  background-color: var(--color-danger);
  border: 2px solid var(--color-danger);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.theme-testimonial-slider .tns-nav > [aria-controls] i,
.theme-testimonial-slider .tns-nav > [aria-controls] span.la,
.theme-testimonial-slider .tns-nav > [aria-controls] span.las,
.theme-testimonial-slider .tns-nav > [aria-controls] span.las,
.theme-testimonial-slider .tns-nav > [aria-controls] span.lar,
.theme-testimonial-slider .tns-nav > [aria-controls] span.lab,
.theme-testimonial-slider .tns-nav > [aria-controls] span.fa,
.theme-testimonial-slider .tns-nav > [aria-controls] span.fab,
.theme-testimonial-slider .tns-nav > [aria-controls] span.fas {
  font-size: 14px;
}

.theme-testimonial-slider .theme-swiper-navigation .theme-swiper-button-nav i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  margin: 0;
  color: var(--color-dark);
  background: var(--color-white);
  -webkit-box-shadow: 0 5px 8px rgba(143, 142, 159, 0.1);
          box-shadow: 0 5px 8px rgba(143, 142, 159, 0.1);
}

.theme-testimonial-slider .theme-swiper-navigation .theme-swiper-button-nav i.directorist-icon-mask::after {
  background-color: var(--color-dark);
}

.theme-testimonial-slider .theme-swiper-navigation .theme-swiper-button-nav i:hover {
  color: var(--color-white);
  background: var(--color-primary);
}

.theme-testimonial-slider .theme-swiper-navigation .theme-swiper-button-nav i:hover.directorist-icon-mask::after {
  background-color: var(--color-white);
}

.theme-testimonial-single {
  padding: 0 95px;
  margin-bottom: 38px;
}

@media only screen and (max-width: 767px) {
  .theme-testimonial-single {
    padding: 0 45px;
    margin-bottom: 20px;
  }
}

.theme-testimonial-single__author-thumb img {
  max-width: 150px;
  margin: 0 auto 20px;
  border-radius: 50%;
}

.theme-testimonial-single__author-comment {
  font-size: calc(1.0125rem + 0.15vw);
  line-height: 1.667;
}

@media (min-width: 1200px) {
  .theme-testimonial-single__author-comment {
    font-size: 1.125rem;
  }
}

.theme-testimonial-single__author-info .theme-testimonial-blockquote {
  margin-bottom: 0;
}

.theme-testimonial-single__author-info .theme-testimonial-blockquote .theme-testimonial-blockquote__footer {
  margin-top: 32px;
}

.theme-testimonial-single__author-info .theme-testimonial-blockquote .theme-testimonial-blockquote__footer:before {
  display: none;
}

.theme-testimonial-single__author-info .theme-testimonial-blockquote .theme-testimonial-blockquote__footer cite {
  font-style: normal;
}

.theme-testimonial-single__author-info .theme-testimonial-blockquote .theme-testimonial-blockquote__footer cite span {
  display: block;
  line-height: 1.5;
}

.theme-testimonial-single__author-info .theme-testimonial-blockquote .theme-testimonial-blockquote__footer cite span.cite-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  color: var(--color-danger);
}

.theme-testimonial-single__author-info .theme-testimonial-blockquote .theme-testimonial-blockquote__footer cite span.cite-subtitle {
  font-size: 14px;
  color: var(--color-light-gray);
}

/*-------------------------------------
#. Elementor Search
---------------------------------------*/
.az-el-dir-search .az-el-dir-search-loc {
  position: relative;
}

.az-el-dir-search .az-el-dir-search-loc span.atbd_get_loc {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.az-el-dir-search .az-el-dir-search-loc .address_result {
  position: absolute;
  width: 100%;
  right: 0;
  top: 45px;
  background: var(--color-white);
  -webkit-box-shadow: 0 5px 10px rgba(145, 146, 163, 0.2);
          box-shadow: 0 5px 10px rgba(145, 146, 163, 0.2);
  border-radius: 3px;
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;
}

/*-------------------------------------
#. Call to Action
---------------------------------------*/
.theme-cta .theme-cta__title {
  font-weight: 500;
  margin: 0;
  color: var(--color-white);
}

.theme-cta .theme-cta__content {
  font-size: calc(1.0125rem + 0.15vw);
  font-weight: 400;
  margin: 14px 0 0;
  color: var(--color-white);
}

@media (min-width: 1200px) {
  .theme-cta .theme-cta__content {
    font-size: 1.125rem;
  }
}

.theme-cta .theme-cta__content:empty {
  display: none;
}

.theme-cta .theme-cta__button {
  margin-top: 30px;
}

.theme-cta .theme-cta__button a {
  font-size: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 0 25px;
  min-height: 48px;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.theme-cta .theme-cta__button a:hover {
  color: var(--color-white);
}

/*-------------------------------------
#. Elementor Counter
---------------------------------------*/
.theme-counter__number span {
  font-size: calc(1.1625rem + 1.95vw);
  font-weight: 500;
  color: var(--color-dark);
}

@media (min-width: 1200px) {
  .theme-counter__number span {
    font-size: 2.625rem;
  }
}

.theme-counter__title {
  font-size: 16px;
  font-weight: 400;
  margin: 12px 0 0 0;
  color: var(--color-body);
}

/*-------------------------------------
#. Eleentor More Button
---------------------------------------*/
.theme-more-btn {
  text-align: center;
}

.theme-more-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-dark);
  -webkit-transition: .3s;
  transition: .3s;
}

.theme-more-btn a .directorist-icon-mask::after {
  width: 14px;
  height: 14px;
  background-color: var(--color-dark);
}

.theme-more-btn a:hover {
  color: var(--color-primary);
}

.theme-more-btn a:hover i,
.theme-more-btn a:hover span.la,
.theme-more-btn a:hover span.las,
.theme-more-btn a:hover span.lab,
.theme-more-btn a:hover span.lar,
.theme-more-btn a:hover span.fa,
.theme-more-btn a:hover span.fas,
.theme-more-btn a:hover span.fab,
.theme-more-btn a:hover span.far {
  color: var(--color-primary);
}

.theme-more-btn a:hover .directorist-icon-mask::after {
  background-color: var(--color-primary);
}

.theme-more-btn__text {
  display: inline-block;
  margin-left: 8px;
  text-decoration: underline;
}

/* Img Hover */
.theme-discover-area .elementor-image-box-wrapper:hover .elementor-image-box-img img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  border-radius: 8px;
}

.theme-discover-area .elementor-image-box-wrapper .elementor-image-box-img {
  overflow: hidden;
  border-radius: 8px;
}

.theme-discover-area .elementor-image-box-wrapper .elementor-image-box-img img {
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  -webkit-transform: scale(1.0001);
          transform: scale(1.0001);
}

/*-------------------------------------
#. Eleentor Edit Mode
---------------------------------------*/
.elementor-element-edit-mode .tns-nav {
  display: none;
}

/*-------------------------------------
#. Categories hover
---------------------------------------*/
.theme-discover-area .elementor-image-box-wrapper:hover a {
  color: var(--color-primary);
}
