.helpgent-form-status .components-form-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.helpgent-form-wrapper .helpgent-single-form-header .helpgent-single-form-header__left {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.helpgent-form-wrapper .helpgent-screenBar-content {
  padding-bottom: 15px;
}

.helpgent-modal .components-modal__header .components-button {
  top: 3px;
}

.helpgent-form-group.helpgent-form-icon-left .helpgent-input-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
}

.helpgent-mega-dropdown {
  z-index: 9990;
}
